<!DOCTYPE html>
<html>
<head>
  <title>NewsMoreFun</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style='width:1024px;'>
    <h1>News More Fun</h1>
    <p>An attempt to enact an <a href='http://www.xkcd.com/1288'>XKCD strip</a> in Ruby on Rails.</p>
    <p>By <a href='http://www.andrewfaraday.com'>Andrew Faraday</a></p>
  </div>

  <div style="position:relative; float:left; width:700px;">
    <%= yield %>
  </div>
  <div style="position:relative; float:left; width:150px;">
    <ul>
      <% Source.all.each do |source| %>
        <li><%= link_to source.name, source_path(source) %></li>
      <% end %>
    </ul>
  </div>

  <div style='position:relative;float:left;width:1024px;padding-top:30px;'>
    <p><small>News more fun is really just that, for fun. No statements made here are comments on individuals or organisations they appear to refer to.</small></p>
    <p><small>Again, this is entirely generated text, no part of it is to be taken seriously. Especially posts sourced from The Daily Mail.</small></p>
  </div>

</body>
</html>
